<h1>Conway's Game of Life</h1>
<div class="grid">
  <canvas #canvas class="game-board"></canvas>
  <div class="right-column">
    <h2>Step: {{stepNum}}</h2>
    <button (click)="toggle()" class="my-button">{{interval.isRunning() ? "Pause" : "Play"}}</button>
    <button (click)="step()" [disabled]="interval.isRunning()" class="my-button">Step</button>
    <button (click)="reset()" [disabled]="interval.isRunning()" class="my-button">Reset</button>
    <button (click)="logTiles()" class="my-button">Log</button>
    <button (click)="cycleTooltip()" class="my-button">Tooltip</button>
  </div>
  
</div>
