
canvas {
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  border-color: #3f51b5;
  height: 600px;
  width: 600px;
}

.grid {
  display: grid;
  grid-template-columns: 620px 200px;
  grid-template-rows: auto;
  justify-content: center;
}

.left-column {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-right: 20px;
}

.right-column {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.mat-button-base {
  margin: 8px 8px 8px 0; 
  width: 80px;
  text-align: center;
}

.radio-group-base {
  display: flex;
  flex-direction: column;
}

ul {
  padding-left: 16px;
  margin: 0 0;
}

li {
  margin-bottom: 8px;
}

mat-radio-button {
  margin-bottom: 8px;
}