@use 'sass:map';
@use '@angular/material' as mat;

@include mat.core();

$my-palette: mat.define-palette(mat.$indigo-palette);


canvas {
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  border-color: mat.get-color-from-palette($my-palette, 'default');
}

.grid {
  display: grid;
  grid-template-columns: 620px 200px;
  grid-template-rows: auto;
  justify-content: center;
}

.left-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.right-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.mat-button-base {
  margin: 8px 8px 8px 0; 
  width: 80px;
  text-align: center;
}

.radio-group-base {
  display: flex;
  flex-direction: column;
}