
body {
  margin: 2em;
}

body, input[type="text"], button {
  color: #444;
  font-family: Arial, Georgia, serif;
}

html, body { height: 100%; }
body { font-family: Roboto, "Helvetica Neue", sans-serif; }
